@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #232228;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-contact {
  background-color: #232228;
}
